body {
  display: flex;
  justify-content: center;
  background-color: #aaaaaa;
}

.linea-semaforo {
  background-color: black;
  width: 16px;
  height: 100px;
  margin: 0 auto;
}

.semaforo {
  background: black;
  width: 120px;
  border-radius: 5%;
  padding: 10px;
}

.color-rojo {
  background: red;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.color-amarillo {
  background: yellow;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.color-verde {
  background: green;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.color-rojo-bordeluz {
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 5px #d7e051;
}
.color-amarillo-bordeluz {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 5px #d7e051;
}

.color-verde-bordeluz {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 5px #d7e051;
}

